/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  /* body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
  } */
  .container {
    position: relative;
    left: 60rem;
    bottom: 48rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-card {
    transform-style: preserve-3d;
    min-height: 60vh;
    width: 30rem;
    border-radius: 30px;
    padding: 0rem 2rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  }
  
  .bio-img {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bio-img img {
    width: 10rem;
    z-index: 2;
    transition: all 0.75s ease-out;
  }
  .circle {
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
      to right,
      #cd853f,
      rgba(52, 8, 156, 0.75)
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }
  
  .info .img-heading {
    transition: all 0.75s ease-out;
  }
  .info h3 {
    font-size: 1rem;
    color: #585858;
    font-weight: lighter;
    line-height: 3rem;
    transition: all 0.75s ease-out;
    text-align: center;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
  }
  .icons img {
    padding: 0.5rem .5rem;
    margin: 0.5rem;
    height: 30px;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
  }
  /* button.active {
    background: #585858;
    color: white;
  } */
  .resume {
    margin: 2rem 0;
    transition: all 0.75s ease-out;
  }
  .resume button {
    width: 100%;
    padding: 1rem 0rem;
    background: #cd853f;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
  }
  .land-rocket{
    position: relative;
    left: 80rem;
    width: 50px;
  }
  